In [1]:
import glob, seaborn
import pandas as pd, matplotlib.pyplot as plt
import matplotlib.ticker as ticker
from scipy import stats

In [7]:
maskData = pd.read_csv('mask-use-by-county.csv')
populationData = pd.read_csv('pop_est_2019.csv')

populationData = populationData.loc[populationData['fips'].str.isdigit() == True]
populationData = populationData.astype({'fips': 'int64'})
maskData = maskData.merge(populationData, left_on=['COUNTYFP'], right_on=['fips'])
maskData = maskData.dropna(subset=['population'])
maskData = maskData.mul(maskData['population'], axis=0)
maskData = maskData[['NEVER', 'RARELY', 'SOMETIMES', 'FREQUENTLY', 'ALWAYS']]
maskData = maskData.astype('int64')
maskData

      NEVER  RARELY  SOMETIMES  FREQUENTLY  ALWAYS
0      2961    4134       7486       16481   24805
1     18528   13170      21876       72104   97330
2      1653    2987       2962        4961   12120
3       447     761       2149        6225   12809
4      3064    6592      10408       11218   26542
...     ...     ...        ...         ...     ...
3136   2582   12491       9738        6182   11347
3137   2229    3683       3754        5795    7977
3138   1982    5622       3114        4186    5339
3139   1592    1209        538        2224    2240
3140    983     893       1025        1433    2590

[3141 rows x 5 columns]

In [9]:
chi2, p, dof, expected = stats.chi2_contingency(maskData)
print(p)
expected

0.0

array([[  2375.16311467,   2499.16492737,   4600.05404491,
          9880.00096382,  36512.61694922],
       [  9481.09574305,   9976.08198261,  18362.34006565,
         39438.65349742, 145749.82871126],
       [  1049.38785257,   1104.17398289,   2032.38287344,
          4365.15409437,  16131.90119673],
       ...,
       [   860.62303203,    905.55418449,   1666.79603399,
          3579.94629228,  13230.08045721],
       [   331.74141772,    349.06087544,    642.49416852,
          1379.94965759,   5099.75388073],
       [   294.37108501,    309.73952346,    570.11785503,
          1224.49973461,   4525.27180189]])